.Home_Container{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.toggle-btn{
  position: absolute;
  left: 1px;
  top: 20px;
  z-index: 10
}
.Home_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo img{
  display: flex;
  width: 180px;
}
.logo h3{
  text-align: center;
  padding-top: 8px;
  font-size: 24px;
}
.search_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_bar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiSvgIcon-root{
  border-radius: 50%;
}

.MuiAlert-icon{
  margin-left: 20px;
position: relative;
}
@keyframes listen {
    0% {
        -webkit-transform: scale(.45);
    }
    25% {
        -webkit-transform: scale(.35);
    }
    35% {
        -webkit-transform: scale(.3);
    }
    65% {
        -webkit-transform: scale(.3);
    }
    80% {
        -webkit-transform: scale(.35);
    }
    100% {
        -webkit-transform: scale(.45);
    }
}
.MuiAlert-icon::before{
  content: "";
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top:-90px;
  left:-97px;
  z-index: -1;
  animation-name: listen;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#light .MuiAlert-icon::before{
    background-color: #937d69;
}
#dark .MuiAlert-icon::before{
    background-color: #eae6e1;

}
.css-2c1xq-MuiPaper-root-MuiAlert-root{
  min-width: 350px;
  min-height: 200px;
  display: flex;
  border-radius: 45px !important;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#light .css-10s8pkp-MuiPaper-root-MuiAlert-root{
  background-color: #78634f !important;
}

.css-10s8pkp-MuiPaper-root-MuiAlert-root{
  min-width: 350px;
  min-height: 200px;
  display: flex;
  border-radius: 45px !important;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.Voice{
  position: absolute;
  left: 35%;
  top: 35%;
  translate: (-35%,-35%);
  z-index: 100;
}
@media screen and (max-width: 650px) {
  .Voice{
  left: 10%;
  top: 35%;
  translate: (-50%,-50%);
  }
}
@media screen and (max-width: 400px) {
  .Voice{
  left: 10%;
  top: 35%;
  translate: (-50%,-50%);
  }
  .css-2c1xq-MuiPaper-root-MuiAlert-root{
    min-width: 300px;
  }
  .search_btn{
    display: none;
  }
}

#light .logo h1,#light .logo h4{
 color:#937d69
}

#dark .logo h1,#dark .logo h4 {
  color: #eae6e1
}

#dark .no-results{
    color: #eae6e1
}
#light .no-results{
  color: #78634f;
}
#light .css-10s8pkp-MuiPaper-root-MuiAlert-root .MuiAlert-icon{
  color:#574330 !important;
}
#dark .css-2c1xq-MuiPaper-root-MuiAlert-root .MuiAlert-icon{
  color: #937d69 !important;
}