.Results_page{
padding-top: 87px;
display: flex;
flex-direction: column;
gap: 50px;
}
#light {

}

#dark {
  
}
.Results_Container{
  max-width: 800px;
  padding-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}