.Result_Card{
  display: flex;
  max-width: 700px;
  min-width: 700px;
  padding: 8px;
  border-radius: 10px;
  flex-direction:column;
  align-items: start;
  -webkit-box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.2);
}

.Result_header a{
  text-decoration: none;
}
.site_info{
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
  gap: 13px;
  text-decoration: none;
}
#dark .site_info{
  color: #dadada;
}
.site_logo{
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 50%;
}
.site_logo > img{
  width: 28px;
  display: block;
}
.NameURL{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-decoration: none;
  
}
.site_Name{
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}
.Result_URL{
  font-size: 12px;
  color: #4d5156;
}

.Result_title{
  padding-top: 5px;
  color: #2884f5;
  font-weight: 400;
  font-size: 18px;
}
.Result_title:hover{
  text-decoration: underline;
}
.Result_title:active{
  color: #2884f5;
}
.Result_description{
  font-size: 14px;
  color: #4d5156;
  text-align: start;

}
#dark .Result_description{
  color: #bdc1c6;
}

#light {

}

#dark .Result_URL {
  color:#aeaeaf ;
}

#dark .Result_Card{
  -webkit-box-shadow: 0px 0px 2.5px 0px rgba(231, 231, 231, 0.3);
  -moz-box-shadow: 0px 0px 2.5px 0px rgba(231, 231, 231, 0.3);
  box-shadow: 0px 0px 2.5px 0px rgba(231, 231, 231, 0.3);
}