.App {
  font-family: 'Poppins', sans-serif;
  background-color: white;
    transition: background-color 300ms linear;
    -webkit-transition: background-color 400ms linear;
    transform-origin: bottom left;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
  overflow: auto !important;
  

  
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: auto;
  -webkit-box-shadow: none!important;
  transition: background-color 5000s ease-in-out 0s;
}
#dark {
    background-color: #292929;
    transition: background-color 300ms linear;
    -webkit-transition: background-color 400ms linear;
    transform-origin: bottom left;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
}


*{
  margin: 0;
  box-sizing: border-box;
}

